## Load the dataframe

In [1]:
import pandas as pd 
import os

In [2]:
path = r"D:\Python\ДомашніЗавдання\data_small\TG_STAID000001.txt"
df = pd.read_csv(path, skiprows=20,parse_dates=["    DATE"])

In [3]:
print(os.path.exists(path))

True

In [4]:
df

       STAID   SOUID       DATE     TG   Q_TG
0          1   35381 1860-01-01     21      0
1          1   35381 1860-01-02     46      0
2          1   35381 1860-01-03     31      0
3          1   35381 1860-01-04     37      0
4          1   35381 1860-01-05     31      0
...      ...     ...        ...    ...    ...
59316      1   35381 2022-05-27  -9999      9
59317      1   35381 2022-05-28  -9999      9
59318      1   35381 2022-05-29  -9999      9
59319      1   35381 2022-05-30  -9999      9
59320      1   35381 2022-05-31  -9999      9

[59321 rows x 5 columns]

## Show certain rows

In [5]:
df[10:20]

    STAID   SOUID       DATE     TG   Q_TG
10      1   35381 1860-01-11     -5      0
11      1   35381 1860-01-12    -18      0
12      1   35381 1860-01-13    -27      0
13      1   35381 1860-01-14    -26      0
14      1   35381 1860-01-15    -37      0
15      1   35381 1860-01-16     -9      0
16      1   35381 1860-01-17      7      0
17      1   35381 1860-01-18     -6      0
18      1   35381 1860-01-19    -16      0
19      1   35381 1860-01-20    -19      0

## Show certain columns

In [6]:
df.columns

Index(['STAID', ' SOUID', '    DATE', '   TG', ' Q_TG'], dtype='object')

In [7]:
df['   TG']

0          21
1          46
2          31
3          37
4          31
         ...
59316   -9999
59317   -9999
59318   -9999
59319   -9999
59320   -9999
Name:    TG, Length: 59321, dtype: int64

In [8]:
df[['   TG','    DATE']]

         TG       DATE
0        21 1860-01-01
1        46 1860-01-02
2        31 1860-01-03
3        37 1860-01-04
4        31 1860-01-05
...     ...        ...
59316 -9999 2022-05-27
59317 -9999 2022-05-28
59318 -9999 2022-05-29
59319 -9999 2022-05-30
59320 -9999 2022-05-31

[59321 rows x 2 columns]

# Simple Statistics and filtering

In [9]:
df.loc[df['   TG'] != -9999]['   TG'].mean(
)

np.float64(63.607875261284676)

In [10]:
df['   TG'].hist()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.